@import "../../assets/scss/vars";

.price {
  padding: 18.6rem 0;
  font-family: $fontPoppins;
  @media only screen and (max-width: $tablet) {
    padding: 11.6rem 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 140rem;
    padding-left: 10rem;
    @media only screen and (max-width: $tablet) {
      padding-left: 0;
    }
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      padding-left: 0;
      padding-right: 1.6rem;
    }
  }

  &-block {
    border: 0.2rem $gray solid;
    width: 42.3%;
    padding: 9.7rem 1.4rem 9.7rem 9rem;
    min-height: 62.2rem;
    position: relative;
    @media only screen and (max-width: $tablet) {
      padding: 4rem 3.6rem;
      width: 48%;
      min-height: 0.1rem;
    }
    @media only screen and (max-width: $mobile) {
      width: 100%;
      padding: 1.4rem 3.6rem;
      min-height: 29rem;
    }

    &.full-time {
      &:after {
        @include content;
        width: 10.8rem;
        height: 10.8rem;
        top: 0;
        right: 0;
        border-radius: 0 0 0 100%;
        background: $orange url(../../assets/img/price/Rectangle.png) center center repeat;
        @media only screen and (max-width: $mobile) {
          width: 5.8rem;
          height: 4.8rem;
        }
      }
    }

    &.part-time {
      margin-top: 22.5rem;
      background: $pink url(../../assets/img/price/Rectangle.png) center center repeat;
      @media only screen and (max-width: $mobile) {
        margin-top: 6rem;
      }
    }
  }

  &-description {
    h4 {
      margin: 0 0 0.8rem;
    }
  }

  &-text {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 4rem;
    @media only screen and (max-width: $tablet) {
      font-size: 1.8rem;
      padding: 0;
    }
  }

  &-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;
    @media only screen and (max-width: $mobile) {
      padding-bottom: 0.4rem;
    }
  }

  &-name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 1rem;
    width: 50%;
    @media only screen and (max-width: $tablet) {
      width: 65%;
      font-size: 2rem;
    }
  }

  &-pay {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;
    width: 50%;
    @media only screen and (max-width: $tablet) {
      width: 30%;
    }
    @media only screen and (max-width: $mobile) {
      font-size: 1.8rem;
    }
  }
}