@import "../../assets/scss/vars";

.price {
  padding: 18.6rem 0;
  font-family: $fontPoppins;
  @media screen and (max-width: $tablet) {
    padding: 9.6rem 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    padding-left: 5%;
  }

  &-block {
    border: 0.2rem $gray solid;
    width: 42.3%;
    padding: 9.7rem 1.4rem 9.7rem 9rem;
    min-height: 62.2rem;
    position: relative;
    @media screen and (max-width: $tablet) {
      padding: 9.7rem 1.4rem 9.7rem 4rem;
      min-height: 50rem;
    }
  }

  &-description {
    h4 {
      margin: 0 0 0.8rem;
    }
  }

  &-text {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 4rem;
  }

  &-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;
  }

  &-name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 1rem;
    @media screen and (max-width: $tablet) {
      font-size: 2rem;
    }
  }

  &-pay {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;
    padding-right: 15rem;
    @media screen and (max-width: $tablet) {
      font-size: 2rem;
    }
  }


  .full-time {
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 10.8rem;
      height: 10.8rem;
      top: 0;
      right: 0;
      border-radius: 0 0 0 100%;
      background: $orange url(../../assets/img/price/Rectangle.png) center center repeat;
    }
  }

  .part-time {
    margin-top: 22.5rem;
    background: $pink url(../../assets/img/price/Rectangle.png) center center repeat;;
  }
}