input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="number"],
input[type="week"],
input[type="url"],
input[type="tel"],
select,
textarea {
	width: 100%;
	display: block;
	outline: 0 none;
	position: relative;
	transition: all 0.3s;
	color: $white;
	text-align: left;
	font-weight: 400;
	font-family: $fontPoppins;
	font-size: 2rem;
	background-color: transparent;
	text-transform: none;
	border: 1px $white solid;
	line-height: 1.2;
	padding: 1.6rem 1.4rem;
	&::placeholder {
		color: rgba(235, 235, 245, 0.6);
	}
	&:focus,
	&.valid {
		background: $white;
		color: $black;
		&::placeholder {
			color: rgba($black, 0.6);
		}
	}

	&.invalid {
		border-color: red;
	}

	&[disabled],
	&[disabled="disabled"] {
		cursor: not-allowed;
		background-color: #bdbdbd;
	}
}

textarea {
	resize: none;
	overflow: auto;
	white-space: normal;
	min-height: 14rem;
	line-height: 1.2;
}

button,
.btn {
	outline: 0 none;
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s;
	letter-spacing: 0;
	text-decoration: none !important;
	border: none;
	line-height: 1.23;
	padding: 1.4rem 6.2rem;
	font-size: 2.8rem;
	min-width: 26.3rem;
	text-align: center;
	background-color: $pink;
	font-weight: 600;
	font-family: $font;
	border-radius: 0.4rem;
	text-transform: uppercase;
	color: $white;
	&:hover {
		background: $white;
		color: $black;
	}
	&:active {
		transform: translateY(0.2rem);
	}

	&.btn-white {
		font-size: 2.4rem;
		font-family: $fontPoppins;
		font-weight: 500;
		line-height: 1.2;
		border-radius: 0;
		padding: 1.4rem 6rem;
		color: $black;
		background-color: $white;
		&:hover {
			background: $pink;
			color: $white;
		}
	}

	&[disabled],
	&[disabled="disabled"] {
		cursor: not-allowed;
	}
}

.default-select {
	font-size: 2rem;
	font-family: $fontPoppins;
	font-weight: 400;
	line-height: 1.2;
	width: 100%;
	display: block;
	outline: 0 none;
	position: relative;
	transition: all 0.3s;
	color: $black;
	text-align: left;
	background-color: transparent;
	text-transform: none;
	border: 1px $white solid;
	&::placeholder {
		color: rgba(235, 235, 245, 0.6);
	}

	&.valid {
		.default-select__control {
			background: $white;
		}
		.default-select__single-value {
			color: $black;
		}
		.default-select__indicator {
			svg {
				fill: $gray;
			}
		}
	}

	.default-select__indicator {
		svg {
			fill: $white;
		}
	}

	.default-select__indicator-separator {
		display: none;
	}

	.default-select__value-container {
		border: none;
		border-radius: 0;
	}

	.default-select__menu {
		border-radius: 0;
	}

	.default-select__control {
		border-radius: 0;
		border: none;
		box-shadow: none;
		padding: 1rem;
		background: $black;
		cursor: pointer;
	}

	.default-select__option {
		transition: all .3s;
		cursor: pointer;
	}

	.default-select__option--is-selected {
		color: $white;
		background: $black;
	}

	.default-select__option--is-focused {
		background: rgba($black, .3);
		color: $white;
	}

	.default-select__single-value {
		color: $white;
	}

	.default-select__control--menu-is-open {
		background: $white;

		.default-select__single-value {
			color: $black;
		}
		.default-select__indicator {
			svg {
				fill: $gray;
			}
		}
	}
}



