$desktop-xl: 1600px;
$desktop-l: 1350px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$black: #000;


$pink: #CB4293;
$gray: rgba(235, 235, 245, 0.6);

$font: "SourceSerifPro", Arial, sans-serif;
$fontPoppins: "Poppins", Arial, sans-serif;