$desktop-xl: 1920px;
$desktop-xs: 1600px;
$desktop-l: 1350px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$black: #000;


$pink: #CB4293;
$pinkTwo: #fa72fd;
$gray: rgba(235, 235, 245, 0.6);
$orange: #F8B143;
$gray:#343434;
$green: #58CE66;




$font: "SourceSerifPro", Arial, sans-serif;
$fontPoppins: "Poppins", Arial, sans-serif;

@function get-vw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}