@import "../../assets/scss/vars";

.project {
  padding: 12.3rem 0;


  &-content {
    display: flex;
    justify-content: flex-start;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &-user {
    width: 34.5%;
    border: 0.2rem $gray solid;
    border-right: none;
    padding: 8rem 6.6rem;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &-avatar {
    margin-bottom: 6rem;
    border-radius: 100%;
    width: 18rem;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }

  .h2 {
    font-family: $fontPoppins;
  }

  &-description {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &-block {
    width: 66%;
    border: 0.2rem $gray solid;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &-title {
    width: 100%;
    &.h2 {
      margin-bottom: 6.3rem;
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 7.6rem 6.5rem;
    max-width: 105.5rem;
    margin-left: auto;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
    }
    &-block {
      width: 48%;
      max-width: 420px;
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: $mobile) {
        width: 100%;
        flex-direction: column;
      }

      a {
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        line-height: 1.2;
      }
    }
    .btn-white {
      text-transform: none;
      width: 20.6rem;
      min-width: 1rem;
    }
  }

  &-link {
    border-top: 0.2rem $gray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.8rem 9.6rem 6.4rem 20.1rem;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 400;
    @media only screen and (max-width: $mobile) {
      text-align: center;
      flex-direction: column;
      padding: 3rem 2rem;
    }

    a {
      color: $white;
      text-decoration: none;
      @media only screen and (max-width: $mobile) {
        width: 100%;
      }
    }
  }

  &-calendar {
    position: relative;
    @media only screen and (max-width: $mobile) {
      width: 100%;
      padding-left: 2rem;
    }
    &:after {
      @include content;
      width: 6rem;
      height: 6rem;
      background: url("../../assets/img/project/cil_calendar.png") center center no-repeat;
      background-size: contain;
      top: -2rem;
      left: -8.1rem;
      @media only screen and (max-width: $mobile) {
        width: 3rem;
        height: 3rem;
        left: 17.5rem;
        top: 0;
      }
    }
  }

  .file {
    display: block;
    width: 100%;
    position: relative;
    &:after {
      @include content;
      width: 2.1rem;
      height: 2rem;
      background: url("../../assets/img/project/up.png") center center no-repeat;
      background-size: contain;
      right: 1.4rem;
      top: 1.8rem;
    }
  }

  &-fileInput {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: block;
  }
}