@import "../../assets/scss/vars";

.steps {
  padding: 14rem 0;

  &-content {
    border: 0.2rem $gray solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 13rem 3rem 8rem;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      padding: 6rem 2rem;
    }
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2.4rem;
  }


  &-number {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 1.2;
    width: 8rem;
    height: 8rem;
    background: $gray;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &-text {
    padding-left: 4rem;
    width: calc(100% - 8rem);
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &-list {
    padding-top: 3rem;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &-img {
    width: 50%;
    img {
      width: 100%;
      display: block;
    }
    @media only screen and (max-width: $mobile) {
      width: 100%;
      margin: 0 auto;
    }
  }
}