@import "../../assets/scss/vars";

.header {
  padding: 3rem 0;
  @media only screen and (max-width: $desktop-l) {
    padding: 4.2rem 0;
  }
  @media only screen and (max-width: $mobile) {
    padding: 2rem 0;
  }

  .wr {
    max-width: 178rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-logo {
    margin: 0 1.5rem 0 0;
    width: 22rem;
    @media only screen and (max-width: $desktop-l) {
      width: 14rem;
    }

    img {
      display: block;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    @media only screen and (max-width: $desktop-l) {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1000;
      width: 100%;
      padding: 1rem 1rem 2rem;
      background: black;
      transition: all .3s;
      opacity: 0;
      visibility: hidden;
    }

    &.open {
      opacity: 1000;
      visibility: visible;
    }


    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -4rem ;
      @media only screen and (max-width: $desktop-l) {
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
      }

      li {
        padding: 0 4rem;
        @media only screen and (max-width: $desktop-l) {
          padding: 1rem 0;
        }
      }

      a {
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        font-weight: 400;
        border-bottom: 0.2rem transparent solid;
        display: block;
        &:hover {
          border-bottom-color: $white;
        }
      }
    }
  }

  &-btn {
    //  Button span
    $span-width: 15px;
    $span-height: 2px;
    $span-margin-y: 4px;

    //  Button
    $padding-x: 5px;
    $width: ($span-width + $padding-x) * 2;
    $height: ($span-height * 3) + ($span-margin-y * 6);

    display: none;
    width: #{$width};
    transform: translateY(0);
    padding: 0 #{$padding-x};
    background: transparent !important;
    box-shadow: none;
    border: none;
    z-index: 101;
    outline: none;
    min-width: 0.1rem;
    @media only screen and (max-width: $desktop-l) {
      display: block;
    }
    @media only screen and (max-width: $mobile) {
      padding: 0 1rem;
    }
    span {
      top: 0;
      float: left;
      display: block;
      overflow: hidden;
      position: relative;
      background: $white;
      width: #{$span-width};
      height: #{$span-height};
      margin: #{$span-margin-y} 0;
      transform: rotate(0);
      transition: all 0.25s ease-in-out;
      @media only screen and (max-width: $mobile) {
        width: 1rem;
        margin: 0.2rem 0;
      }

      &:nth-child(odd) {
        clear: both;
      }
      &:nth-child(even) {
        float: right;
      }
      &:nth-child(6),
      &:nth-child(2) {
        transform-origin: left center;
      }
      &:nth-child(1),
      &:nth-child(5) {
        transform-origin: right center;
      }
    }
    // Open menu
    &.open {
      span {
        background: $white;
        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }
        &:nth-child(1),
        &:nth-child(2) {
          top: #{$height / 3};
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: -#{$height / 3};
        }
        &:nth-child(3) {
          opacity: 0;
          transform: translateX(-2em);
        }
        &:nth-child(4) {
          opacity: 0;
          transform: translateX(2em);
        }
      }
    }
  }
}