@import "../../assets/scss/vars.scss";

.partners {
  padding: 8rem 0;

  &-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  &-block {
    padding: 1rem;
    img {
      display: block;
    }
  }
}