@import "../../assets/scss/vars.scss";

.partners {
  padding: 8rem 0;
  @media only screen and (max-width: $mobile) {
    padding: 1rem 0;
  }

  &-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  &-block {
    padding: 1rem;
    @media only screen and (max-width: $mobile) {
      width: 50%;
      max-width: 14rem;
    }
    img {
      display: block;
    }
  }
}