@import "../../assets/scss/vars";

.footer {
  padding: 3rem 8rem 9rem 0;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-breadcrumbs {
    overflow: hidden;
  }

  &-list {
    display: flex;
    margin: 0 -1rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      position: relative;
      font-size: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      border-bottom: 0.2rem transparent solid;
      &:hover {
        border-bottom-color: $white;
      }
      &:after {
        @include content;
        width: 0.9rem;
        height: 1.8rem;
        top: 0;
        right: -1.6rem;
        background: url("../../assets/img/footer/line.png");
      }
    }
  }

  &-chat {
    margin-top: 5rem;
    position: relative;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: $fontPoppins;
    padding-left: 3rem;
    display: table;
    margin-left: auto;
    &:after {
      border: 1px $white solid;
      @include content;
      width: 1.6rem;
      height: 1.6rem;
      background: $green;
      border-radius: 100%;
      top: 0.5rem;
      left: 0;
    }
  }
}