@import "../../assets/scss/vars";

.fortune {
  padding: 10rem 0;

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    @media only screen and (max-width: $desktop-xs) {
      flex-direction: column;
    }
    &:after {
      @include content;
      background: url("../../assets/img/fortune/ball-1.png") center center no-repeat;
      background-size: contain;
      width: 9rem;
      height: 9rem;
      z-index: -1;
      top: -9.5rem;
      left: 41%;
      transform: rotate(180deg);
      @media only screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  &-wheel {
    width: 59%;
    justify-content: start;
    display: grid;
    place-items: center;
    overflow: hidden;
    @media only screen and (max-width: $desktop-xs) {
      width: 100%;
      justify-content: center;
    }
  }

  &-block {
    width: 37.6%;
    padding-top: 22rem;
    @media only screen and (max-width: $desktop-xs) {
      width: 100%;
      padding-top: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width: $tablet) {
      padding-top: 4rem;
    }

    button {
      padding: 1.4rem 3.2rem;
    }
  }

  &-form {
    @media only screen and (max-width: $desktop-xs) {
      width: 45%;
    }
    @media only screen and (max-width: $tablet) {
      width: 60%;
    }
    @media only screen and (max-width: $mobile) {
      width: 95%;
    }
    h4 {
      margin:0 0 4.6rem;
      text-transform: uppercase;
      @media only screen and (max-width: $mobile) {
        margin:0 0 1.6rem;
      }
    }

    input {
      padding: 2.2rem 2.2rem;
    }
  }

  &-text {
    padding-bottom: 1.6rem;
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: $fontPoppins;
    @media only screen and (max-width: $tablet) {
      font-size: 1.7rem;
    }
    @media only screen and (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  &-img {
    padding-top: 15rem;
    position: relative;
    background: $black;
    @media only screen and (max-width: $tablet) {
      display: none;
    }
    &:after {
      @include content;
      background: url("../../assets/img/fortune/ball-1.png") center center no-repeat;
      background-size: contain;
      width: 10rem;
      height: 10rem;
      bottom: 0;
      margin-bottom: -4.5rem;
      z-index: -1;
      left: -27rem;
    }
  }

  &-checkbox {
    padding: 2.4rem 5rem 6rem;
    @media only screen and (max-width: $tablet) {
      padding: 2.4rem 0 4rem 5rem;
    }
  }

  .deal-wheel {
    --size: clamp(835px, 80vmin, 700px);
    position: relative;
    display: grid;
    align-items: center;
    font-size: calc(var(--size) / 21);
    transform: scale(-1, -1);
    @media only screen and (max-width: $desktop-xs) {
      --size: clamp(625px, 80vmin, 700px);
    }
    @media only screen and (max-width: $tablet) {
      --size: clamp(550px, 80vmin, 700px);
    }
    @media only screen and (max-width: $mobile) {
      --size: clamp(250px, 80vmin, 700px);
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      background: $pink;
      border: 0.2rem $white solid;
      left: 50%;
      margin-left: -5rem;
      top: 50%;
      margin-top: -5rem;
      @media only screen and (max-width: $tablet) {
        width: 5rem;
        height: 5rem;
        margin-top: -2.5rem;
        margin-left: -2.5rem;
      }
    }
    &:before {
      @include content;
      background: $blue url("../../assets/img/advantages/Rectangle.png") center center repeat;
      background-size: contain;
      border-radius: 100%;
      width: 10rem;
      height: 10rem;
      z-index: -1;
      left: 0;
      bottom: 0;
      @media only screen and (max-width: $tablet) {
        width: 5rem;
        height: 5rem;
      }
      @media only screen and (max-width: $mobile) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .deal-wheel > * {
    grid-area: spinner;
  }

  .deal-wheel .btn-spin {
    grid-area: trigger;
    justify-self: center;
  }

  .spinner {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "spinner";
    width: var(--size);
    height: var(--size);
    transform: rotate(calc(var(--rotate, 25) * 1deg));
    border-radius: 50%;
    border: 2px $white solid;
  }

  .spinner * {
    grid-area: spinner;
  }

  .prize {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
    width: 50%;
    height: 50%;
    transform-origin: center right;
    transform: rotate(var(--rotate));
    user-select: none;
  }


  .ticker {
    position: relative;
    left: calc(var(--size) / -11);
    width: calc(var(--size) / 7);
    height: calc(var(--size) / 1);
    transform: scale(-1, -1);
    background: url("../../assets/img/fortune/Vector.png") center center no-repeat;
    background-size: contain;
    z-index: 1;
    @media only screen and (max-width: $mobile) {
      position: absolute;
      width: 2rem;
      height: 2rem;
      left: -0.7rem;
    }
  }

  .is-spinning .spinner {
    transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
  }



  @keyframes tick {
    40% {
      transform: rotate(-12deg);
    }
  }

  .text {
    font-size: 2rem;
    font-family: $fontPoppins;
    transform: scale(-1, -1);
    @media only screen and (max-width: $tablet) {
      font-size: 1.7rem;
    }
    @media only screen and (max-width: $mobile) {
      font-size: 1rem;
    }
  }
  /* анимируем выпавший сектор */
  .prize.selected .text {
    color: $pink;
    animation: selected 800ms ease;
  }


  @keyframes selected {
    25% {
      transform: scale(1.25);
      text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
    }
    40% {
      transform: scale(0.92);
      text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
    }
    60% {
      transform: scale(1.02);
      text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
    }
    75% {
      transform: scale(0.98);
    }
    85% {
      transform: scale(1);
    }
  }
}

.wheel {
  border-radius: 100%;
  img {
    display: block;
    width: 100%;
  }
}